*{margin:0px;
padding:0px;
text-decoration:none;
}

#okvir{min-width:720px;
       height:auto;
       background-color:black;}

#zaglavlje{position:relative;}

#logo{width:14%;padding:0px 43%;}

#meni ul{margin-top:3%;background-color:rgba(230,208,99, 0.4);float:left;	
		border-radius:10px 0px 10px 0px;}
		
#meni ul li{float:left;display:flex; flex-wrap: wrap;align-content:space around; font-size:14pt; font-family:copperplate gothic light;}

#meni ul li a:hover{color:#e2e2e2;font-weight:bold;}
#meni ul li a{text-decoration:none; color:black;margin:10px;}
#trenutno{border-bottom:5px solid #e2e2e2;}

#moto{ padding-top:50px; text-align:right; }
#moto  h1{font-family:lucida calligraphy; text-align:right;
	color:rgb(230,208,99);margin-right:100px;}
.cleaner{clear:both;}
#jezici{position:fixed;float:right;border-radius:50%;width:75px;height:75px;padding:8px;			text-align:center;
		top:0px;
	right:0.5%; 
	font-size:1.3em; font-family:copperplate gothic light;background-color:rgba(230,208,99, 0.6 );z-index:2;box-shadow:2px 2px 5px #d2d2d2;}
#jezici a{color:black;margin-top:20px;}
#jezici a:hover{color:#e2e2e2;font-weight:bold;}
.text{ color:black; font-family:lucida calligraphy;font-size:2em; background-color:rgba(230,208,99, 0.6 );font-weight:bold;}
#galerija{display:flex;flex-direction:row;align-items:center;justify-content:space-evenly;flex-wrap:wrap;}
.slika{width:25%;font-size:12pt;font-family:lucida calligraphy;margin:20px;text-align:center;background-color:rgb(239,208,99);border-radius:30px;}
.slika img{width:100%;border-radius:30px 30px 0px 0px;}
.slika:hover{transform:scale(1.25);}
#bottom{background-color: rgba(210,190,99,0.5);text-align:center;font-size:10pt;font-family:copperplate gothic light;}
#soc{display:flex;align-items:center;flex-direction:row;padding:20px;background-image: linear-gradient(to top, rgb(230,208,99), black);justify-content:center;}
#soc img{margin:20px;width:75%;}
#soc img:hover{transform:scale(1.25);}